<script type="importmap">
  {
    "imports": {
      "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
    }
  }
</script>



<script type="module">
import { createApp, ref } from 'vue'

createApp({
  setup() {
    const priceBTC = ref(null)
    const priceETH = ref(null)
    const priceSOL = ref(null)
    const trendBTC = ref('up')
    const trendETH = ref('up')
    const trendSOL = ref('up')
    const colorBTC = ref('rgb(77, 230, 34)')
    const colorETH = ref('rgb(77, 230, 34)')
    const colorSOL = ref('rgb(77, 230, 34)')

    async function fetchPrice() {
      try {
        const responseBTC = await fetch('https://api.exchange.coinbase.com/products/BTC-EUR/ticker')
        const resultBTC = await responseBTC.json()
        priceBTC.value = resultBTC.price

        const responseETH = await fetch('https://api.exchange.coinbase.com/products/ETH-EUR/ticker')
        const resultETH = await responseETH.json()
        priceETH.value = resultETH.price

        const responseSOL = await fetch('https://api.exchange.coinbase.com/products/SOL-EUR/ticker')
        const resultSOL = await responseSOL.json()
        priceSOL.value = resultSOL.price


        const responseBTC2 = await fetch('https://api.exchange.coinbase.com/products/BTC-EUR/trades?limit=2')
        const resultBTC2 = await responseBTC2.json()

        const responseETH2 = await fetch('https://api.exchange.coinbase.com/products/ETH-EUR/trades?limit=2')
        const resultETH2 = await responseETH2.json()

        const responseSOL2 = await fetch('https://api.exchange.coinbase.com/products/SOL-EUR/trades?limit=2')
        const resultSOL2 = await responseSOL2.json()


        if (resultBTC2[0].price > resultBTC2[1].price) {
          trendBTC.value = 'up';
          colorBTC.value = 'rgb(77, 230, 34)'
        }
        else if (resultBTC2[0].price < resultBTC2[1].price) {
          trendBTC.value = 'down';
          colorBTC.value = 'rgb(216, 16, 16)'
        }
        else if (resultBTC2[0].price == resultBTC2[1].price) {
          trendBTC.value = trendBTC.value
          colorBTC.value = colorBTC.value
        }

        if (resultETH2[0].price > resultETH2[1].price) {
          trendETH.value = 'up';
          colorETH.value = 'rgb(77, 230, 34)'
        }
        else if (resultETH2[0].price < resultETH2[1].price) {
          trendETH.value = 'down';
          colorETH.value = 'rgb(216, 16, 16)'
        }
        else if (resultETH2[0].price == resultETH2[1].price) {
          trendETH.value = trendETH.value
          colorETH.value = colorETH.value
        }

        if (resultSOL2[0].price > resultSOL2[1].price) {
          trendSOL.value = 'up';
          colorSOL.value = 'rgb(77, 230, 34)'
        }
        else if (resultSOL2[0].price < resultSOL2[1].price) {
          trendSOL.value = 'down';
          colorSOL.value = 'rgb(216, 16, 16)'
        }
        else if (resultSOL2[0].price == resultSOL2[1].price) {
          trendSOL.value = trendSOL.value
          colorSOL.value = colorSOL.value
        }


        console.log('BTC:', priceBTC.value, trendBTC.value)
        console.log('ETH:', priceETH.value, trendETH.value)
        console.log('SOL:', priceSOL.value, trendSOL.value)
      } catch (error) {
        console.error('Error fetching data:', error)
      }
    }
    
    setInterval(fetchPrice, 1000);
    fetchPrice()
    return { priceBTC, priceETH, priceSOL, trendBTC, trendETH, trendSOL, colorBTC, colorETH, colorSOL }
  }
}).mount('#app')
</script>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="./pictures/icon_site.png">
    <title>Finankox</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined">
    <link rel="stylesheet" href="index.css">
</head>

<nav class="nav_bar"><h1>Finankox</h1><img src="./pictures/icon_site.png" class="logo"></nav>
<div class="jumped"></div>

<div id="app">
    <p v-if="priceBTC" class="price" translate="no">1 BTC = {{ Intl.NumberFormat('us-US').format(priceBTC) }} € 
      <span v-if="trendBTC" class="material-symbols-outlined" :class="trendBTC" :style="{ color: colorBTC }">
        {{ trendBTC === 'up' ? 'arrow_drop_up' : trendBTC === 'down' ? 'arrow_drop_down' : 'check_indeterminate_small' }}
      </span>
    </p>

    <p v-if="priceETH" class="price" translate="no">1 ETH = {{ Intl.NumberFormat('us-US').format(priceETH) }} € 
      <span v-if="trendETH" class="material-symbols-outlined" :class="trendETH" :style="{ color: colorETH }">
        {{ trendETH === 'up' ? 'arrow_drop_up' : trendETH === 'down' ? 'arrow_drop_down' : 'check_indeterminate_small' }}
      </span>
    </p>

    <p v-if="priceSOL" class="price" translate="no">1 SOL = {{ Intl.NumberFormat('us-US').format(priceSOL) }} € 
      <span v-if="trendSOL" class="material-symbols-outlined" :class="trendSOL" :style="{ color: colorSOL }">
        {{ trendSOL === 'up' ? 'arrow_drop_up' : trendSOL === 'down' ? 'arrow_drop_down' : 'check_indeterminate_small' }}
      </span>
    </p>
</div>

<p class="outro">
  <span>Datas from &copy;Coinbase</span><br>
  <span><a href="./tubeyou.html">Develloped by Sanoki</a></span><br>
  <span>&copy;Finankox - 2025</span><br>
</p>
</html>