<script type="importmap">
  {
    "imports": {
      "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
    }
  }
</script>



<script type="module">
import { createApp, ref } from 'vue'

createApp({
  setup() {
    const priceBTC = ref(null)
    const priceETH = ref(null)
    const trendBTC = ref('up')
    const trendETH = ref('up')
    const colorBTC = ref('rgb(77, 230, 34)')
    const colorETH = ref('rgb(77, 230, 34)')

    async function fetchPrice() {
      try {
        const responseBTC = await fetch('https://api.exchange.coinbase.com/products/BTC-EUR/ticker')
        const resultBTC = await responseBTC.json()
        priceBTC.value = resultBTC.price

        const responseETH = await fetch('https://api.exchange.coinbase.com/products/ETH-EUR/ticker')
        const resultETH = await responseETH.json()
        priceETH.value = resultETH.price


        const responseBTC2 = await fetch('https://api.exchange.coinbase.com/products/BTC-EUR/trades?limit=2')
        const resultBTC2 = await responseBTC2.json()

        const responseETH2 = await fetch('https://api.exchange.coinbase.com/products/ETH-EUR/trades?limit=2')
        const resultETH2 = await responseETH2.json()


        if (resultBTC2[0].price > resultBTC2[1].price) {
          trendBTC.value = 'up';
          colorBTC.value = 'rgb(77, 230, 34)'
        }
        else if (resultBTC2[0].price < resultBTC2[1].price) {
          trendBTC.value = 'down';
          colorBTC.value = 'rgb(216, 16, 16)'
        }
        else if (resultBTC2[0].price == resultBTC2[1].price) {
          trendBTC.value = trendBTC.value
          colorBTC.value = colorBTC.value
        }

        if (resultETH2[0].price > resultETH2[1].price) {
          trendETH.value = 'up';
          colorETH.value = 'rgb(77, 230, 34)'
        }
        else if (resultETH2[0].price < resultETH2[1].price) {
          trendETH.value = 'down';
          colorETH.value = 'rgb(216, 16, 16)'
        }
        else if (resultETH2[0].price == resultETH2[1].price) {
          trendETH.value = trendETH.value
          colorETH.value = colorETH.value
        }


        console.log(priceBTC.value, trendBTC.value)
        console.log(priceETH.value, trendETH.value)
      } catch (error) {
        console.error('Error fetching data:', error)
      }
    }
    
    setInterval(fetchPrice, 1000);
    fetchPrice()
    return { priceBTC, priceETH, trendBTC, trendETH, colorBTC, colorETH }
  }
}).mount('#app')
</script>

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="./pictures/icon_site.png">
    <title>Finankox</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined">
</head>

<nav class="nav_bar"><h1>Finankox</h1><img src="./pictures/icon_site.png" class="logo"></nav>
<div class="jumped"></div>


<div id="app">
    <p v-if="priceBTC" class="price">1 BTC = {{ Intl.NumberFormat('fr-FR').format(priceBTC) }} € 
      <span v-if="trendBTC" class="material-symbols-outlined" :class="trendBTC" :style="{ color: colorBTC }">
        {{ trendBTC === 'up' ? 'arrow_drop_up' : trendBTC === 'down' ? 'arrow_drop_down' : 'check_indeterminate_small' }}
      </span>
    </p>

    <p v-if="priceETH" class="price">1 ETH = {{ Intl.NumberFormat('fr-FR').format(priceETH) }} € 
      <span v-if="trendETH" class="material-symbols-outlined" :class="trendETH" :style="{ color: colorETH }">
        {{ trendETH === 'up' ? 'arrow_drop_up' : trendETH === 'down' ? 'arrow_drop_down' : 'check_indeterminate_small' }}
      </span>
    </p>
</div>

<p class="outro">
  <span>Datas from ©Coinbase</span><br>
  <span>Develloped by Sanoki</span><br>
  <span>Finankox, 2025</span><br>
</p>

<style>
  .price{
    font-size: 300%;
    text-align: center;
    font-weight: bold;
  }
  .material-symbols-outlined {
    font-size: 120%;
  }
  .jumped{
    height: 8%;
  }
  .nav_bar{
    height: 6vw;
    background-color: black;
    color: white;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  h1{
    font-size: 250%;
    padding: 1%;
    text-align: center;
  }
  .logo{
    width: 50px;
    height: 50px;
    padding: 1%;
  }
  .outro{
    text-align: center;
    color: grey;
    font-size: 110%;
    margin-top: 35%;
  }
</style>