<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Finankox - Video service</title>
  <link rel="icon" href="./pictures/icon_site.png">
  <link rel="stylesheet" href="tubeyou.css">
  
  <script type="importmap">
    {
      "imports": {
        "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
      }
    }
  </script>

</head>
  <nav class="nav_bar">
    <h1>Finankox - Video service</h1>
    <img src="./pictures/icon_site.png" class="logo">
  </nav>
  
  <div class="jumped"></div>
  
  <div id="app">
    <div class="box">
      <input v-model="choosed" placeholder="Your ID" />
      <button @click="itok()" class="boton">Watch</button>
    </div>

    <div v-if="lien" class="video">
      <iframe width="560" 
              height="315" 
              :src="lien" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
              allowfullscreen>
      </iframe>
    </div>
  </div>
  
  <script type="module">
    import { createApp, ref } from 'vue';
    
    createApp({
      setup() {
        const lien = ref("");
        const choosed = ref("");
  
        function itok() {
          lien.value = "https://www.youtube.com/embed/" + choosed.value;
          console.log(lien.value);
        }
  
        return { lien, choosed, itok };
      }
    }).mount('#app');
  </script>
</html>